body {
    margin: 0;
}

@font-face {
    font-family: Natural;
    src: url("./fonts/17651.ttf");
}

.page {
    background-color: #eaf2f5;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 20px;
}

#container {
    height: 900px;
    padding: 20px 0 0 40px;
    display: flex;
    justify-content: center;
}

.logout {
    outline:none;
    border: none;
    background-color: #6c8edd;
    width: 120px;
    height: 70px;
    color: white;
    font-family: Natural, sans-serif;
    font-size: 18px;
}

.logout:hover {
    cursor: pointer;
    background-color: #526ba5;
}

.remove {
    height: 100px;
    width: 585px;
}

