#block-form {
    margin-top: 100px;
    height: 900px;
    display: flex;
    justify-content: center;
}

#form_login {
    width: 550px;
    height: 350px;
    box-shadow: 0 0 4px 1px rgba(92, 90, 90, 0.5);
    padding: 30px 20px 30px 20px;
}

.title_form {
    padding-top: 30px;
    font-family: Natural, sans-serif;
    font-size: 28px;
    color: #404040;
}

.date_form {
    margin-top: 10px;
    position: relative;
    margin-bottom: 50px;
}

.date {
    margin-top: 40px;
    outline:none;
    border: none;
    font-size: 20px;
    border-bottom: 1px solid rgba(50, 50, 50, 0.5);
    padding-bottom: 10px;
    width: 540px;
}

.buttons {
    margin-top: 50px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
}

.btn_form {
    outline:none;
    border: none;
    background-color: #2aa698;
    width: 120px;
    height: 50px;
    color: white;
    font-family: Natural, sans-serif;
    font-size: 18px;

}

.sign_up {
    outline:none;
    border: none;
    background-color: #6c8edd;
    width: 120px;
    height: 50px;
    color: white;
    font-family: Natural, sans-serif;
    font-size: 18px;
    margin-right: 20px;
}

.sign_up:hover {
    cursor: pointer;
    background-color: #526ba5;
}

.btn_form:hover {
    cursor: pointer;
    background-color: #228479;
}

.error {
    position: absolute;
    padding-top: 10px;
    text-align:center;
    width:100%;
    color: red;
    font-size: 18px;
    font-weight: bold;
    display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}






