#header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6d92e0;
}

#logo {
    font-size: 36px;
    color: #ffffff;
    padding-left: 30px;
    font-family: Natural, sans-serif;
}

#login_btns {
    color: white;
    font-size: 18px;
    display: flex;
    font-family: Natural, sans-serif;
    height: 70px;
    align-items: center;
}

#reg_btn {
    width: 120px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

.hurray {
    background-color: #526da8;
}

#reg_btn:hover {
    background-color: #526da8;
}

#log_btn {
    width: 80px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#log_btn:hover {
    background-color: #526da8;
    cursor: pointer;
}
